html,
body {
	position: relative;
    height: 100%;
}
html {
 background-color: #282828;
}

body {
	font-family: 'Droid Sans', sans-serif;
}
.home {
	height: 100%;
	background-color: #eeeeee;
}

.vertical-custom-45 {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	bottom:0;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.ello {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 5vmax;
	color: #ff0000;
}

.welcome {
	width: 40%;
	font-size: 1.7vmax;
}

.toSkills {
	font-size: 48px;
	color: #ff0000;
}

.next-skills {
	left: 0;
	right: 0;
	position: absolute;
	bottom: 7%;
	font-size: 1.5vmax;
	color: #ff0000;
}
.fa-chevron-down:hover {
	cursor: pointer;
}

.fa-bars:hover {
	cursor: pointer;
}

#nav-icon {
	position: fixed;
	left: 5%;
	top: 10%;
	font-size: 48px;
	color: #946b2d;
}

#nav-icon:hover {
	cursor: pointer;
}

nav {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: -20%;
	width: 10%;
	background-color: #282828;
	font-size: 1.5vmax;
}

.skills {
	height: 100%;
	background-color: #212f3c;
}


.me {
	height: 130px;
	border-radius: 65px;
	margin-bottom: 15px;
}

nav ul {
	width: 100%;
	height: 100%;
	list-style-type: none;
	padding: 0;
}

nav li {
	text-align: center;
	width: 100%;
	height: 16%;
	color: #ffffff;
}

nav li:hover {
	border-bottom: 2px solid #ff0000;
	cursor: pointer;
}

.menu-icon {
	font-size: 1.5vmax;
}

.nav-close {
	font-color: #ff0000;
	height: 20%;
	width: 100%;

}

.social-icons {
	margin-bottom: 5vh;
	font-size: 2vmax;
	margin-right: 5px;
}

.social-icons i:hover {
	cursor: pointer;
}

.shead {
	position: relative;
	top: 10%;
	left: 0;
	right: 0;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-weight:  200;
	font-size: 4vmax;
}

.skill-span {
	position: relative;
	top: 13%;
	width: 50%;
}

.skill-text {
	word-wrap: break-word;
	position: relative;
	top: 30%;
	font-size: 1.5vmax;
	height: auto;
	color: #ffffff;
}

.techs {
	position: relative;
	top: 16%;
}

.tech-icons {
	height: 8vw;
	margin: 20px;
}

.icons-holder {
	display: inline-block;
	color: #ffffff;
	font-size: 1.5vmax;
}

.toProjects {
	position: absolute;
	top: 190%;
	left: 0;
	right: 0;
	font-size: 48px;
	color: #ffffff;
}


.projects {
	height: 30%;
	background-color: #13b494;
}

.project-head {
	position: relative;
	top: 10%;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-weight:  200;
	font-size: 4vmax;
}

.projects-text-div {
	position: relative;
	top: 20%;
	width: 50%;
	color: #ffffff;
	font-size: 1.8vmax;
}

.projects-display {
	background-color: #ffffff;
}

.project {
	display: inline-block;
	margin: 30px;
	width: 20%;
	background-color: #282828;
}

.project:hover {
	cursor: pointer;
}

.project img {
	width: 100%;
}

.project-txt {
	height: 8%;
}

.project-name {
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-weight:  500;
	font-size: 2vmax;
}

.type {
	font-size: 1vmax;
	color: #ffffff;
}

.contact {
	height: 100%;
	background-color: #212f3c;
}

.contact-head {
	position: relative;
	top: 10%;
	left: 0;
	right: 0;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-weight:  200;
	font-size: 4vmax;
}

.contact-container {
	position: relative;
	top: 15%;
	width: 50%;
	color: #ffffff;
	font-size: 1.8vmax;
}

.contact-container i {
	font-size: 4vmax;
	margin-right: 1.5vmax;
}

.fa {
	cursor: pointer;
}